* body {
    font-family: 'Tangerine', serif;
    font-size: 22px;
    text-shadow: 2px 1px 3px #aaa;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ff00ff;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border-top: 100px white;
    background-color: white; 
    border: 30px solid white;
    padding: 0;
    margin: 0;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0ce9e9;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555555;
}

section {
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #1320db;
}
